/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(https://design.penpot.app/internal/gfonts/font/poppins/v22/pxiEyp8kv8JHgFVrJJnecmNE.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(https://design.penpot.app/internal/gfonts/font/poppins/v22/pxiEyp8kv8JHgFVrJJfecg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*Estilos para el inicio */
body {
  font-family: Poppins;
  background-color: #f8f8f8;
  color: #333;
  display: flex;
}

/* Navbar */
header {
  background-color: #b1b2b5; /* Fondo oscuro */
  color: #000000; /* Texto negro */
  padding: 10px 20px;
  border: 3px solid #444; /* Ajusta el color del borde */
  position: fixed; /* Fijar el header */
  top: 0;
  width: 100%;
  z-index: 1000; /* Asegurar que esté sobre otros elementos */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */ 
  font-size: 1.5em;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo */
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}



.logo h1 {
  font-weight: bold;
  color: #e6e6e6; /* Texto gris claro */
}

.logo p {
  color: #999; /* Texto gris */
}

/* Navegación */
.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #000000; /* Texto negro */
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #ffd700; 
}


